.header {
  font-family: 'Nunito';
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15% 0 15%;
  margin-top: 20px;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

.back-home-btn {
  cursor: pointer;
  color: var(--main-color);
  background: none;
  font-size: 24px;
  border: none;
  font-family: 'nunito';
  transition: color 0.2s;
}

.back-home-btn:hover {
  color: white;
}

.back-home-btn:focus {
  outline: none;
}

.back-home-icon {
  margin-right: 10px;
}

.register-btn, .logout-btn {
  padding: 10px 30px;
  color: var(--main-color);
  text-align: center;
  font-size: 24px;
  font-family: 'nunito';
  border-radius: 15px;
  background-color: var(--background-color);
  border: 3px solid var(--main-color);
  margin: 0 0 0 20px;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}

.register-btn:hover, .logout-btn:hover {
  background-color: var(--main-color);
  color: white;
}

.register-btn:focus, .logout-btn:focus {
  outline: none;
}

.login-btn-wrapper {
  position: relative;
}

.login-btn {
  padding: 10px 30px;
  color: var(--main-color);
  text-align: center;
  font-size: 24px;
  font-family: 'nunito';
  background-color: var(--background-color);
  border: none;
  transition: color 0.2s;
  cursor: pointer;
}

.login-btn:hover {
  color: white;
}

.login-btn:focus {
  outline: none;
}

.welcome-msg {
  color: var(--main-color);
  flex: 0 0 auto;
  font-size: 20px;
  overflow: hidden;
}

.speech {
  top: 50px;
  right: -30px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  position: absolute;
  width: 120px;
  padding: 10px 20px 10px 10px;
  background: linear-gradient(#edad00, var(--main-color));
  border-radius: 10px;
  cursor: default;
}

.speech:before {
  content: "";
  position: absolute;
  top: -20px; /* value = - border-top-width - border-bottom-width */
  right: 80px; /* controls horizontal position */
  bottom: auto;
  left: auto;
  border-width: 20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-color: transparent #edad00;
  border-style: solid;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.close-hint {
  position: absolute;
  top: 2px;
  right: 7px;
  cursor: pointer;
}

.close-hint:hover {
  color: black;
}

.router {
  height: 99.9vh;
  padding-top: 1px;
}

.modal {
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8); 
}

.modal-content {
  background-color: #0c1a33;
  margin: calc(30vh - 100px)  auto 0 auto;
  padding: 25px 40px;
  border-radius: 15px;
  width: 260px;
  font-family: 'nunito';
  color: #dbdbdb;
  font-size: 20px;
  box-shadow: 0 0 60px 0 rgba(71, 74, 255, 0.2);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.form-group {
  margin: 20px auto;
  display: block;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.modal-links {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  color: #bababa;
}

.modal-links:hover {
  color: white;
}

.auth-input {
  box-shadow: 0 0 2px grey inset;
  margin: 0 auto;
  height: 50px;
  border: none;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'nunito';
  background-color: #dbdbdb;
}

.auth-input:focus {
  border: 3px solid #4481ed;
  outline: none;
  padding: 2px 7px;
}

form {
  display: inline-block;
  width: 100%;
}

form button {
  color: white;
  padding: 10px 50px;
  margin: 40px auto 30px auto;
  display: block;
  font-family: 'nunito';
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, var(--main-color), var(--tertiary-color) 120%);
  cursor: pointer;
}

form button:hover {
  background: linear-gradient(to left, var(--main-color), var(--tertiary-color) 120%);
}

input.ng-invalid.ng-touched {
  border: 2px solid #ff2828;
}

.errormsg {
  color: #ff2828;
  font-size: 16px;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 1460px) {
  .header {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 540px) {
  .header {
    padding: 0 10px;
    margin-top: 10px;
  }

  .back-home-btn {
    font-size: 18px;
  }

  .login-btn {
    font-size: 18px;
    padding: 10px 10px;
  }

  .register-btn {
    font-size: 18px;
    padding: 10px 10px;
  }

  .logout-btn {
    font-size: 18px;
    padding: 10px 10px;
    margin-left: 10px;
  }

  .welcome-msg {
    width: 100px;
    font-size: 16px;
  }

  .speech {
    top: 50px;
    right: -70px;
    font-size: 18px;
  }
}