<div class="header">
  <div class="container">
    <h1 class="pull-left" [routerLink]="['/home']">Gainz Tracker</h1>
    <div class="pull-right" id="login" (click)="modalActive = true; modalState = 'in'" *ngIf="!isLoggedIn()"><fa name="sign-in"></fa> Login</div>
    <div class="pull-right" id="login" (click)="onLogout()" *ngIf="isLoggedIn()"><fa name="sign-out"></fa>Logout</div>
    <div style="clear: both;"></div>
  </div>
</div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>


<div class="modal" id="login-modal" [style.display]="isModalActive()" [@fadeInModalAnimation]="modalState">
  <div class="modal-content"  [@slideInModalContentAnimation]="modalState">

    <form [formGroup]="myLoginForm" (ngSubmit)="onSubmitLogin()" class="login-form" [style.display]="isLoginFormActive()" [@slideModalFormAnimation]="loginFormState">
      <div class="form-group">
        <label for="username"><fa name="user"></fa>Username: </label>
        <input class="auth-input" type="text" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password"><fa name="lock"></fa>Password: </label>
        <input class="auth-input" type="password" id="password" formControlName="password">
      </div>
      <span [style.display]="isErrorMsgActive()" class="errormsg"><fa name="exclamation-circle"></fa> {{errorMsg}} </span>
      <button type="submit" [disabled]="!myLoginForm.valid">Log in</button>
      <div class="modal-links" (click)="registerFormActive = true; loginFormActive = false; myLoginForm.reset(); loginFormState = 'out'; registerFormState = 'in'"><fa name="user-plus"></fa>Register</div>
      <div class="modal-links">Forgot password</div>
    </form>

    <form [formGroup]="myRegisterForm" (ngSubmit)="onSubmitRegister()" class="register-form" [style.display]="isRegisterFormActive()" [@slideModalFormAnimation]="registerFormState">
      <div class="form-group">
        <label for="username"><fa name="user"></fa>Username: </label>
        <input class="auth-input" type="text" id="username" formControlName="username">
        <div *ngIf="myRegisterForm.get('username').touched">
          <span class="errormsg" *ngIf="myRegisterForm.get('username').hasError('isUsernameUnique')"> Username is taken. </span>
          <span class="errormsg" *ngIf="myRegisterForm.get('username').hasError('required')"> This field is required. </span>
          <span class="errormsg" *ngIf="myRegisterForm.get('username').hasError('minlength')"> Enter at least 4 characters. </span>
        </div>
      </div>
      <div class="form-group">
        <label for="password"><fa name="lock"></fa>Password: </label>
        <input class="auth-input" type="password" id="password" formControlName="password">
        <div *ngIf="myRegisterForm.get('password').touched">
          <span class="errormsg" *ngIf="myRegisterForm.get('password').hasError('required')"> This field is required. </span>
          <span class="errormsg" *ngIf="myRegisterForm.get('password').hasError('minlength')"> Enter at least 8 characters. </span>
        </div>
      </div>
      <div class="form-group">
        <label for="email"><fa name="envelope"></fa>Email: </label>
        <input class="auth-input" type="email" id="email" formControlName="email">
        <div *ngIf="myRegisterForm.get('email').touched">
          <span class="errormsg" *ngIf="myRegisterForm.get('email').hasError('isEmailUnique')"> Email is taken. </span>
          <span class="errormsg" *ngIf="myRegisterForm.get('email').hasError('required')"> This field is required. </span>
          <span class="errormsg" *ngIf="myRegisterForm.get('email').hasError('pattern')"> Enter a valid email address. </span>
        </div>
      </div>
      <button type="submit" [disabled]="!myRegisterForm.valid">Register</button>
      <div class="modal-links" (click)="registerFormActive = false; loginFormActive = true; myRegisterForm.reset(); loginFormState = 'in'; registerFormState = 'out'">Already have an account?</div>
    </form>

  </div>
</div>
