@media only screen and (max-width: 414px) {
  .box {
    display: block !important;
    margin: 5px auto 20px !important;
    width: 80% !important;
    height: 130px !important;
    padding: 30px 20px 20px 20px !important;
  }
}

.box {
  background-color: rgba(19, 73, 81, 1);
  display: inline-block;
  width: 22%;
  height: 170px;
  margin: 250px 20px 20px 20px;
  padding: 60px 20px 10px 20px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 30px;
  border: 1px solid black;
  font-family: 'nunito';
  color: white;
}

.box:hover {
  border: 1px solid white;
}

.box:active {
  background-color: rgba(9, 63, 71, 1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3) inset;
}

.box:focus {
  outline: 0;
}
