<div class="container">
  <p *ngIf="!loggedIn" class="speech"> Login to save progress </p>
  <div class="newday" (click)="addNewDay()"> <fa name="plus"></fa>Add a new day</div>

  <div *ngFor="let day of days; let i = index" class="day" [@dayListAnimation]="''">
    <h3> {{day.date | date}} </h3>
    <div class="deleteDay" (click)="deleteDay(i)"><fa name="window-close" size="2x"></fa></div>

    <div *ngFor="let exercise of days[i].exercises; let j = index" class="addedExercises">
      <div class="deleteExercise" (click)="deleteExercise(i, j)"><fa name="window-close"></fa></div>
       <h5>{{exercise.name}}: <strong>{{exercise.sets}}</strong> set(s) of <strong>{{exercise.reps}}</strong> rep(s) at <strong>{{exercise.weight}}</strong> lbs</h5>
    </div>

    <div class="newExercise"><h4><fa name="bars" class="dropdown-icon"></fa>Add new exercise</h4>
      <div class="trans-layer"  (click)="toggleMenu(i)"></div>
    </div>

      <div class="dropdown-menu">
        <div class="bodypart" (click)="toggleSubMenu(i, 'submenu-arms')"> Arms <fa name="angle-right" class="arrow-icon"></fa> </div>
        <div class="bodypart" (click)="toggleSubMenu(i, 'submenu-shoulders')"> Shoulders <fa name="angle-right" class="arrow-icon"></fa> </div>
        <div class="bodypart" (click)="toggleSubMenu(i, 'submenu-chest')"> Chest <fa name="angle-right" class="arrow-icon"></fa> </div>
        <div class="bodypart" (click)="toggleSubMenu(i, 'submenu-back')"> Back <fa name="angle-right" class="arrow-icon"></fa> </div>
        <div class="bodypart" (click)="toggleSubMenu(i, 'submenu-core')"> Core <fa name="angle-right" class="arrow-icon"></fa> </div>
        <div class="bodypart" (click)="toggleSubMenu(i, 'submenu-lowerbody')"> Lower Body <fa name="angle-right" class="arrow-icon"></fa> </div>
      </div>

      <div class="submenu-arms">
        <div class="exercise" (click)="openDetails(i, 'Standing Curls')"> Standing Curls </div>
        <div class="exercise" (click)="openDetails(i, 'Hammer Curls')"> Hammer Curls </div>
        <div class="exercise" (click)="openDetails(i, 'Spider Curls')"> Spider Curls </div>
        <div class="exercise" (click)="openDetails(i, 'Seated Curls')"> Seated Curls </div>
      </div>

      <div class="submenu-shoulders">
        <div class="exercise" (click)="openDetails(i, 'OHP')"> OHP </div>
        <div class="exercise" (click)="openDetails(i, 'Dumbbell Curls')"> Dumbbell Curls </div>
        <div class="exercise" (click)="openDetails(i, 'Push Press')"> Push Press</div>
        <div class="exercise" (click)="openDetails(i, 'Lateral Raises')"> Lateral Raises </div>
        <div class="exercise" (click)="openDetails(i, 'Face Pulls')"> Face Pulls </div>
      </div>

      <div class="submenu-chest">
        <div class="exercise" (click)="openDetails(i, 'Bench Press')"> Bench Press </div>
        <div class="exercise" (click)="openDetails(i, 'Incline Bench Press')"> Incline Bench Press </div>
        <div class="exercise" (click)="openDetails(i, 'Decline Bench Press')"> Decline Bench Press </div>
      </div>

      <div class="submenu-back">
        <div class="exercise" (click)="openDetails(i, 'Pull Up')"> Pull Ups </div>
        <div class="exercise" (click)="openDetails(i, 'Chin Ups')"> Chin Ups </div>
        <div class="exercise" (click)="openDetails(i, 'Lateral Pulldown')"> Lateral Pulldown </div>
        <div class="exercise" (click)="openDetails(i, 'Barbell Rows')"> Barbell Rows </div>
        <div class="exercise" (click)="openDetails(i, 'Dumbbel Rows')"> Dumbbel Rows </div>
      </div>

      <div class="submenu-core">
        <div class="exercise" (click)="openDetails(i, 'Ab Wheel')"> Ab Wheel </div>
        <div class="exercise" (click)="openDetails(i, 'Crunches')"> Crunches </div>
        <div class="exercise" (click)="openDetails(i, 'Planks')"> Planks </div>
        <div class="exercise" (click)="openDetails(i, 'Side Planks')"> Side Planks </div>
      </div>

      <div class="submenu-lowerbody">
        <div class="exercise" (click)="openDetails(i, 'Squats')"> Squats </div>
        <div class="exercise" (click)="openDetails(i, 'Deadlifts')"> Deadlifts </div>
        <div class="exercise" (click)="openDetails(i, 'Leg press')"> Leg press </div>
        <div class="exercise" (click)="openDetails(i, 'Hamstring Curls')"> Hamstring Curls </div>
        <div class="exercise" (click)="openDetails(i, 'Leg curls')"> Leg curls </div>
      </div>

    <div class="details">
      <form>
        <div class="closeDetails" (click)="closeDetailsMenu()"> <fa name="window-close" size="2x"></fa> </div>
        <span>Enter sets, reps, and weight.<br></span>
        <label>Nbr. of sets: </label><input #sets><br>
        <label>Nbr. of reps: </label><input #reps><br>
        <label>Weight: </label><input #weight>
        <div class="submit" (click)="submitDetails(i, sets, reps, weight)"> Submit </div>
      </form>
    </div>
  </div>
</div>
