.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 10px;
  clear: both;
}

.newday {
  margin: 20px auto 100px;
  padding: 10px;
  width: 600px;
  height: 40px;
  background-color: #61892f;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 30px;
}

.days {
}

.day {
  margin: 20px auto 20px;
  padding: 10px;
  width: 600px;
  min-height: 60px;
  background-color: #222629;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  line-height: 10px;
  font-size: 20px;
  border: 2px solid black;
}


h5 {
  margin: 5px;
  position: absolute;
}

h3 {
  margin: 5px;
  position: absolute;
  color: white;
}

h4 {
  margin: 1px 5px;
  position: absolute;
  text-align: center;
  line-height: 18px;
}
.newExercise {
  margin: 15px 5px 5px 5px;
  padding: 5px;
  width: 200px;
  height: 18px;
  background-color: #86c232;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.newExercise:hover {
  border: 3px solid #000000;
  padding: 2px;
}

.newExercise:active {
  background-color: #F7B733;
  border: 3px solid #000000;
  padding: 2px;
}

.newday:hover {
  background-color: #ff9000;
}

.newday:active {
  background-color: white;
  border: 5px solid #ff9000;
  padding: 5px;
}


.dropdown-menu {
  display: none;
  background-color: #86c232;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
  margin: 0 0 10px 8px;
  width: 205px;
  text-align: center;
  float: left;
}

.submenu-arms, .submenu-shoulders, .submenu-chest, .submenu-back, .submenu-core, .submenu-lowerbody {
  display: none;
  background-color: #86c232;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
  margin-top: 10px;
  width: 100px;
  float: left;
  width: 205px;
  margin: 0 0 10px 8px;
  text-align: center;
}

.openMenu, .openSubMenu {
  display: block;
}


.bodypart{
  padding: 10px;
}

.bodypart:hover {
  border: 3px solid #000000;
  border-radius: 15px;
  padding: 7px;
}

.bodypart:active {
  background-color: #ffffff;
  border: 3px solid #000000;
  padding: 7px;
}

.exercise{
  padding: 10px;
}

.exercise:hover {
  border: 3px solid #000000;
  border-radius: 15px;
  padding: 7px;
}

.exercise:active {
  background-color: #ffffff;
  border: 3px solid #000000;
  padding: 7px;
}

.menuContainer {
}

.menuActive {
  background-color: white;
  border: 3px solid #000000;
  padding: 2px;
}

.subMenuActive {
  background-color: white;
  border: 3px solid #000000;
  padding: 7px;
  border-radius: 15px;
}

.addedExercises {
  background-color: #61892f;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 15px 5px 5px 5px;
  padding: 20px;

}
