@media only screen and (max-width: 414px) {
  .day {
    width: 90% !important;
  }

  .newday {
    width: 90% !important;
    margin-bottom: 60px !important;
  }

  .newExercise {
    font-size: 16px;
    padding: 8px 5px 8px 10px !important;
    width: 200px !important;
  }
  .addedExercises {
    height: 34px !important;
    line-height: 25px;
    padding: 10px 20px 10px 10px !important;
  }

  h5 {
    margin-right: 30px;
  }

  .dropdown-menu {
    width: 150px !important;
    margin-left: -5px !important;
  }

  .submenu-arms, .submenu-shoulders, .submenu-chest, .submenu-back, .submenu-core, .submenu-lowerbody {
    width: 150px !important;
    margin-left: 1px !important;
  }

  .exercise {
    padding: 10px 7px 10px 7px !important;
    line-height: 20px;
  }

  .speech {
    position: relative !important;
    top: 0 !important;
    float: none !important;
    margin-left: 200px !important;
  }

  .speech:before {
    right: 35px !important;
    border-width: 20px 20px 0 0 !important;
  }
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 10px;
  clear: both;
  font-family: 'nunito';
}

.newday {
  margin: 20px auto 100px;
  padding: 10px;
  width: 600px;
  height: 40px;
  background-color: rgba(19, 73, 81, 1);
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 2em;
  border: 1px solid black;
  color: white
}

.newday:hover {

  border: 1px solid white;
}

.newday:active {
  background-color: rgba(9, 63, 71, 1);
  padding: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5) inset;
}


.day {
  margin: 20px auto 20px;
  padding: 25px 10px 10px 10px;
  width: 600px;
  min-height: 50px;
  background-color: rgba(19, 73, 81, 0.8);
  border-radius: 4px;
  line-height: 10px;
  font-size: 20px;
  border: 1px solid black;
}

h5 {
  padding: 0;
  font-weight: normal;
  margin-top: -6px;
  position: absolute;
}

h3 {
  margin: -9px 2px 2px 6px;
  position: absolute;
  color: white;
}

h4 {
  padding: 0;
  font-weight: normal;
  margin: 0;
  position: absolute;
}
.newExercise {
  margin: 15px 5px 5px 5px;
  padding: 8px 5px 8px 20px;
  width: 35%;
  height: 18px;
  background-color: #C0C0C0;
  border-radius: 2px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  color: black;
  border: 1px solid grey;
  font-size: 19px;
  position: relative;
}

.trans-layer {
  width: 225px;
  height: 34px;
  background-color: #C0C0C0;
  border-radius: 2px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  color: black;
  border: 1px solid red;
  position: absolute;
  opacity: 0;
  margin-left: -21px;
  margin-top: -9px;
}

.newExercise:hover {
  border: 1px solid white;
}

.newExercise:active {
  background-color: #9b9b9b;
  border: 1px solid white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.dropdown-menu {
  display: none;
  background-color: #C0C0C0;
  border-radius: 3px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.7);
  z-index: 10;
  float: left;
  position: relative;
  margin: 0 0 10px 8px;
  width: 215px;
  text-align: center;
  border: 1px solid black;
}

.submenu-arms, .submenu-shoulders, .submenu-chest, .submenu-back, .submenu-core, .submenu-lowerbody {
  display: none;
  background-color: #C0C0C0;
  border-radius: 3px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: relative;
  float: left;
  margin-top: 10px;
  width: 205px;
  margin: 0 0 10px 8px;
  text-align: center;
  border: 1px solid black;
}

.openMenu, .openSubMenu {
  display: block;
}


.bodypart{
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.bodypart:hover {
  background-color: #9b9b9b;
  border-radius: 1px;
  padding: 10px;
}


.exercise{
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.exercise:hover {
  border-radius: 1px;
  padding: 15px;
  background-color: #9b9b9b;
}

.dropdown-icon {
    margin-right: 7px;
}

hr {
  margin: 1px 0;
}

.exercise:active {
  background-color: #828282;
  padding: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.menuContainer {
}

.menuActive {
  background-color: #9b9b9b;
  border: 1px solid #000000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.subMenuActive {
  background-color: #9b9b9b;
  padding: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
  border-radius: 2px;
}

.addedExercises {
  background-color: #C0C0C0;
  border-radius: 2px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
  margin: 15px 5px 5px 5px;
  padding: 20px;
  border: 1px solid grey;
  position: relative;
}

.deleteDay {
  color: black;
  float: right;
  margin-top: -28px;
  margin-right: -11px;
}

.deleteDay:hover {
  color: red;
}


.deleteExercise {
  max-height: 15px;
  float: right;
  margin-top: -10px;
  margin-right: -13px;
  border-radius: 4px;

}

.deleteExercise:hover {
  color: red;
}



.details {
  width: 250px;
  height: 250px;
  background-color: #C0C0C0;
  float: left;
  z-index: 10;
  position: relative;
  border-radius: 3px;
  margin-left: 180px;
  display: none;
  border: 1px solid black;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.7);
}

.detailsActive {
  display: inline;
}

input {
  width: 40px;
  border-radius: 3px;
}

span {
  text-align: center;
  line-height: 20px;
  margin-bottom: 40px;
}

label {
 line-height: 40px;
}
form {
  padding: 15px 10px;
  text-align: center;
}

.submit {
  width: 100px;
  background-color: #222629;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  padding: 15px;
  margin: 10px auto;
}

.submit:hover {
  box-shadow: 2px 2px 10px 1px grey inset;
}

.closeDetails {
  float: right;
  margin-top: -18px;
  margin-right: -11px;
}

.closeDetails:hover {
  color: red;
}

.speech {
  top: 113px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  position: sticky;
  width: 100px;
  float: right;
  padding: 10px;
  margin-right: 15px;
  background: #edad00; /* default background for browsers without gradient support */
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff3030), to(#ff8c8c));
  background: -moz-linear-gradient(#edad00, #ffca3a);
  background: -o-linear-gradient(#edad00, #ffca3a);
  background: linear-gradient(#edad00, #ffca3a);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius: 5px;
}

.speech:before {
  content: "";
  position: absolute;
  top: -20px; /* value = - border-top-width - border-bottom-width */
  right: 80px; /* controls horizontal position */
  bottom: auto;
  left: auto;
  border-width: 20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-color: transparent #edad00;
  border-style: solid;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
