.container {
  margin: 200px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.statsDiv {
  width: 500px;
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin: 0 20px 20px 20px;
  background-color: #0c1a33;
  box-shadow: 5px 5px 60px -10px rgba(0, 0, 0, 1);
}

.programsDiv {
  width: 500px;
  border-radius: 10px;
  color: white;
  padding: 20px;
  margin: 0 20px 20px 20px;
  background-color: #0c1a33;
  box-shadow: 5px 5px 60px -10px rgba(0, 0, 0, 1);
}

.liftstats {
  margin: 20px auto 40px auto;
  text-align: left;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--main-color);
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.input-container {
  display: flex;
}

input {
  border-radius: 10px;
  font-family: 'nunito';
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  flex-shrink: 1;
  margin: 0 10px 10px 0;
  width: 50%;
  background-color: #dbdbdb;
}

.second-input {
  margin-right: 0;
}

input:hover {
  outline: none;
  border: 3px solid #4481ed;
  padding: 7px 17px;
}

input:focus {
  outline: none;
  border: 3px solid #4481ed;
  padding: 7px 17px;
}

.one-rep-max {
  color: var(--main-color);
}

.status {
  font-size: 12px;
  color: #C0C0C0C0;
}

.programs {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  width: 100%;
}

.programs li {
  margin: 0 auto;
  width: 95%;
  cursor: pointer;
  position: relative;
  padding: 17px 0;
  text-align: center;
  transition: background-color 0.2s;
  border-radius: 10px;
}

.programs li:hover {
  border: 3px solid var(--tertiary-color);
  padding: 14px 0;
}

.selected {
  background-color: #262963;
}

.programs .text {
  position: relative;
  top: -3px;
}

label {
  font-family: 'nunito';
  font-size: 18px;
}

.scheduleDiv {
  margin-top: 100px;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  border-radius: 4px;
  color: white;
  text-align: center;
  background-color: #0c1a33;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 5px 5px 40px -5px rgba(0, 0, 0, 1);
}

.scheduleDiv h1 {
  text-align: center;
  color: var(--main-color);
  font-weight: 400;
}

.scheduleDiv h2 {
  color: #cecece;
}

.test {
  border-top: 1px solid #214c99;
  border-bottom: 1px solid #214c99;
  border-right: 1px solid #214c99;
}

.test:last-child {
  border-bottom: none;
}

th {
  padding: 20px 10px;
  border-bottom: 1px solid #214c99;
  font-weight: 400;
}

td {
  padding: 20px;
  width: 150px;
}

tr:last-child {
  border: none;
}

.row {
  border-top: 1px solid #214c99;
}

.row .test {
  border-bottom: none;
}

hr {
  margin: 50px;
  border-color: #214c99;
}

@media only screen and (max-width: 870px) {
  .container {
    flex-wrap: wrap;
  }
  
  .day {
    width: 90%;
  }

  .statsDiv {
    margin-bottom: 40px;
  }
}
