html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  --main-color: #ff9000;
  --secondary-color: #ffcc00;
  --tertiary-color: #ff0048;
  --background-color: #09111F;
  font-family: 'Nunito';
  background: rgb(9,17,31);
  background: linear-gradient(176deg, rgba(9,17,31,1) 0%, rgba(11,22,42,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

app-root {
  display: block;
  height: 100%;
}
