html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  --main-color: #ff9000;
  --secondary-color: #ffcc00;
  --tertiary-color: #ff0048;
  --background-color: #09111F;
  font-family: 'Nunito';
  background-color: var(--background-color);
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

app-root {
  display: block;
  height: 100%;
}
