<div class="home-background">
  
  <div class="home-left">
    <div class="home-title-container">
      <h1 class="home-title"> Gainz Tracker </h1>
      <h2 class="home-subtitle"> 
        Generate a routine, keep track of your progress, and visualize over time.
        Everything you need in one place.
      </h2>
      <button class="login-btn">Log in</button>
      <button class="register-btn">
        Register
      </button>
    </div>
  </div>

  <div class="home-right">
    <div mat-button class="box" routerLink="/program-generator">
      <fa name="table"></fa>
      Generate a program
      <div class="flex-spacer"></div>
      <fa name="arrow-right" ></fa>
      <div class="box-helper">
        <fa name="table" ></fa>
        Generate a program
        <div class="flex-spacer"></div>
        <fa name="arrow-right" class="arrow"></fa>
      </div>
    </div>
    <div mat-button class="box" routerLink="/track-progress">
      <fa name="calendar"></fa>
      Start Tracking
      <div class="flex-spacer"></div>
      <fa name="arrow-right" ></fa>
      <div class="box-helper">
        <fa name="calendar"></fa>
        Start Tracking
        <div class="flex-spacer"></div>
        <fa name="arrow-right" class="arrow"></fa>
      </div>
    </div>
    <div mat-button class="box" routerLink="/graph">
      <fa name="line-chart"></fa>
      Visualize Progress
      <div class="flex-spacer"></div>
      <fa name="arrow-right" ></fa>
      <div class="box-helper">
        <fa name="line-chart"></fa>
        Visualize Progress
        <div class="flex-spacer"></div>
        <fa name="arrow-right" class="arrow"></fa>
      </div>
    </div>
  </div>
</div>
