.home-background {
  min-height: 100%;
  display: flex;
}

.home-left {
  width: 50%;
  display: flex;
  align-items: center;
  border-right: 1px solid grey;
}

.home-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title-container {
  max-width: 800px;
  margin: 0 auto 20px auto;
  padding: 0 30px;
}

.home-title {
  font-size: 110px;
  color: #FF991D;
  margin-bottom: 30px;
  margin-top: 0;
}

.home-subtitle {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.register-btn {
  width: 150px;
  padding: 12px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'nunito';
  border-radius: 15px;
  background: linear-gradient(to right, var(--main-color), var(--tertiary-color) 120%);
  border: none;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

.register-btn:hover {
  background: linear-gradient(to left, var(--main-color), var(--tertiary-color) 120%);
}

.login-btn, .logout-btn {
  width: 150px;
  padding: 10px;
  color: var(--main-color);
  text-align: center;
  font-size: 24px;
  font-family: 'nunito';
  border-radius: 15px;
  background-color: var(--background-color);
  margin-top: 20px;
  border: 3px solid var(--main-color);
  transition: color 0.2s;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.login-btn:hover, .logout-btn:hover {
  background-color: var(--main-color);
  color: white;
}

.box {
  cursor: pointer;
  display: flex;
  width: 500px;
  border-radius: 15px;
  font-size: 30px;
  font-family: 'nunito';
  color: white;
  margin: 30px auto 30px auto;
  padding: 20px;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, var(--main-color) -20%, var(--tertiary-color) 140%);
  background-clip: padding-box;
}

.box-helper {
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 17px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: white;
  border: 3px solid var(--main-color);
}

.box-helper:hover {
  opacity: 0;
}

.box:focus {
  outline: 0;
}

.arrow {
  color: var(--main-color);
}

fa {
  margin-right: 20px;
  font-size: 40px;
}

.flex-spacer {
  flex-grow: 1;
}

.modal {
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8); 
}

.modal-content {
  background-color: #0c1a33;
  margin: calc(30vh - 100px)  auto 0 auto;
  padding: 25px 40px;
  border-radius: 15px;
  width: 260px;
  font-family: 'nunito';
  color: #dbdbdb;
  font-size: 20px;
  box-shadow: 0 0 60px 0 rgba(71, 74, 255, 0.2);
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.form-group {
  margin: 20px auto;
  display: block;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.modal-links {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  color: #bababa;
}

.modal-links:hover {
  color: white;
}

.auth-input {
  box-shadow: 0 0 2px grey inset;
  margin: 0 auto;
  height: 50px;
  border: none;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'nunito';
  background-color: #dbdbdb;
}

.auth-input:focus {
  border: 3px solid #4481ed;
  outline: none;
  padding: 2px 7px;
}

form {
  display: inline-block;
  width: 100%;
}

form button {
  color: white;
  padding: 10px 50px;
  margin: 40px auto 30px auto;
  display: block;
  font-family: 'nunito';
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, var(--main-color), var(--tertiary-color) 120%);
  cursor: pointer;
}

form button:hover {
  background: linear-gradient(to left, var(--main-color), var(--tertiary-color) 120%);
}

form fa {
  font-size: 20px;
  margin: 0;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ff2828;
}

.errormsg {
  color: #ff2828;
  font-size: 16px;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 1460px) {
  .home-background {
    flex-wrap: wrap;
  }

  .home-left {
    width: 100%;
    border: none;
  }

  .home-right {
    width: 100%;
  }
  
  .home-title-container {
    text-align: center;
  }
}

@media only screen and (max-width: 730px) {
  .home-title {
    font-size: 70px;
  }
  
  .home-subtitle {
    font-size: 25px;
  }
}

@media only screen and (max-width: 540px) {
  .home-title {
    font-size: 50px;
  }
  
  .home-subtitle {
    font-size: 20px;
  }

  .box {
    width: 400px;
    font-size: 25px;
    margin: 20px auto 20px auto;
  }

  fa {
    margin-right: 20px;
    font-size: 30px;
  }

  .login-btn {
    font-size: 20px;
  }

  .register-btn {
    font-size: 20px;
  }
}

@media only screen and (max-width: 430px) {
  .box {
    width: 300px;
    font-size: 20px;
    padding: 20px;
  }

  .home-title-container {
    padding: 0 20px;
  }
}