.container {
  width: 100%;
  margin-top: 200px;
}

.graph {
  margin: 30px auto;;
  max-width: 1200px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 120px -10px rgba(0, 0, 0, 0.8);
  background-color: #0c1a33;
}

.select-exercise {
  font-size: 24px;
  color: var(--main-color);
  padding: 20px;
  margin: 0 20px;
  font-weight: 600;
}

.graph-btn {
  color: var(--main-color);
  display: inline-block;
  text-align: center;
  font-family: 'nunito';
  padding: 20px 20px;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
  -webkit-tap-highlight-color: transparent;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  
}

.graph-btn:hover {
  background: linear-gradient(to right, var(--main-color), var(--tertiary-color) 120%);
}

.graph-btn:first-child:hover {
  border-radius: 7px 0 0 7px;
}

.graph-btn:last-child:hover {
  border-radius: 0 7px 7px 0;
}

.graph-btn:focus {
  background: linear-gradient(to right, var(--main-color), var(--tertiary-color) 120%);
  outline: none;
}

.graph-btn:first-child:focus {
  border-radius: 7px 0 0 7px;
}

.graph-btn:last-child:focus {
  border-radius: 0 7px 7px 0;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  margin: 0 auto 40px auto;
}

.data-error {
  background-color: #f7554a;
  left: 40%;
  color: white;
  width: 315px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'nunito';
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .graph-btn {
    min-width: 250px;
    font-size: 18px;
  }

  .btn-container {
    margin: 0 10px 40px 10px;
  }

  .graph-btn:first-child:hover {
    border-radius: 8px 0 0 0;
  }
  
  .graph-btn:nth-child(2):hover {
    border-radius: 0 8px 0 0;
  }

  .graph-btn:nth-child(3):hover {
    border-radius: 0 0 0 8px;
  }

  .graph-btn:last-child:hover {
    border-radius: 0 0 8px 0;
  }
}

@media only screen and (max-width: 525px) {
  .graph-btn {
    min-width: 170px;
  }
}
