.container {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
}

.graph {
  width: 65%;
  margin: 20px auto;
}

.graph-buttons {
  color: white;
  background-color: rgba(19, 73, 81, 1);
  display: inline-block;
  width: 120px;
  text-align: center;
  font-family: 'nunito';
  padding: 20px;
  flex: 1 1 auto;
  border: 1px solid black;
  border-right: none;
  transition: all .17s ease-in-out;
  box-shadow: 2px 12px 5px 0 rgba(0, 0, 0, 0.5);
}

.graph-buttons:hover {
  transform: translateY(7px);
  box-shadow: none;
}

.graph-buttons:active {
  background-color: rgba(09, 53, 61, 1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.graph-buttons:focus {
  background-color: #496b19;
  border: 1px solid #000000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.buttons-container {
  margin: 40px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.data-error {
  background-color: #f7554a;
  left: 40%;
  color: white;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'nunito';
  font-size: 14px;
}

@media only screen and (max-width: 664px) {
  .graph-buttons {
    box-shadow: none;
    border-top: none;
  }

  .graph-buttons:hover {
    transform: none;
    background-color: rgba(24, 94, 104, 1);
  }

  .graph-buttons:active {
    background-color: rgba(09, 53, 61, 1);
  }
}
